.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding: 12px;
}

.card {
  padding: 10px;
  background-color: white;
  border: 2px solid var(--text);
  border-radius: 8px;
  box-shadow: 4px 4px 0px var(--text);
  transition: 0.12s;
  position: relative;
  color: var(--text);
}

.card:active {
  transform: scale(0.98);
  box-shadow: 2px 2px 0px var(--text);
}

.area-preview {
    max-height: 3em; /* Limit to 3 lines */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; /* Keep content on a single line */
}

.modal {
  position: fixed;
  inset: 0;
  display: none;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 20;
}

.box {
  width: 92%;
  background: white;
  border-radius: 8px;
  border: 2px solid var(--text);
  box-shadow: 4px 4px 0px var(--text);
  padding: 16px;
  position: relative;
}


.closeBtn{
  position: absolute;
  top: -50px;
  right: 10px;
}
