.settings-section {
    background-color: white;
    border: 2px solid var(--text);
    border-radius: 8px;
    box-shadow: 4px 4px 0px var(--text);
    padding: 15px;
    margin-bottom: 20px;
}

.settings-section h4 {
    margin-top: 0;
    margin-bottom: 15px;
    color: var(--primary);
}

.settings-section button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    background-color: var(--secondary);
    color: var(--text);
}

.settings-section button:hover {
    background-color: var(--primary);
    color: white;
}

.settings-section input[type="text"] {
    width: 100%;
    margin-bottom: 10px;
}

.settings-section p {
    margin-bottom: 5px;
    color: var(--text);
}
